{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <div class="mw-500 m-auto">
        <div class="m-5">
            <h4>대형 폐기물 배출</h4>
        </div>
        <div>
            <form action="{% url 'uploadapp:update' pk=target_upload.pk %}"
                  enctype="multipart/form-data"
                  method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}

                <div class="m-5 text-center">
                    <input type="submit"
                       class="btn btn-info rounded-pill px-5" value="확인하기">
                </div>

            </form>
        </div>
         <div class="container text-center mw-500 m-auto">
             <table class="table tbl Thead mT10">
                <colgroup>
                    <col class="">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            이름
                        </th>
                        <td>
                            {{ target_upload.name }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            연락처
                        </th>
                        <td>
                            {{ target_upload.phone_number }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            신청일자
                        </th>
                        <td>
                            {{ target_upload.created_at }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            배출주소
                        </th>
                        <td>
                            {{ target_upload.location }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="{{ target_upload.image.url }}"
                                 class="profile_image"
                                 alt="upload image">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            종류
                        </th>
                        <td>
                            {{ target_upload.label }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            수수료
                        </th>
                        <td>
                            {{ target_upload.price }} 원
                        </td>
                    </tr>
                </tbody>
             </table>
         </div>
        <div class="text-center">
            <a href="{% url 'uploadapp:pdf2' pk=target_upload.pk %}"
                class="btn btn-dark rounded-pill px-5 m-5">
                제출하기
            </a>
        </div>
    </div>


{% endblock %}